@import "tailwindcss";

span{
    position: relative;
}
.mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid orange; /* Tailwind gray-800 */
  z-index: 0;
}